% rebase('osnova.html', naslov='Registracija')

  <form action="{{url('registracija_post')}}" method="POST">
    <div class="row">
        <div class="col">
          <label class="form-label">Uporabniško ime:</label>
          <input name="up_ime" type="text" value="" required
               class="form-control" oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Obvezen podatek')" />
        </div>
    </div>
    <div class="row">
        <div class="col">
          <label class="form-label">Ime:</label>
          <input name="ime" type="text" value="" required
               class="form-control" oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Obvezen podatek')" />
        </div>
        <div class="col">
          <label class="form-label">Priimek:</label>
          <input name="priimek" type="text" value="" required
               class="form-control" oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Obvezen podatek')" />
        </div>
        <div class="col">
            <label class="form-label">Spol:</label>
            <input name="spol" type="text" value="" required
                 class="form-control" oninput="this.setCustomValidity('')"
                 oninvalid="this.setCustomValidity('Obvezen podatek')" />
        </div>
    </div>

    <div class="col">
        <label class="form-label">Mail:</label>
        <input name="mail" type="text" value="" required
             class="form-control" oninput="this.setCustomValidity('')"
             oninvalid="this.setCustomValidity('Obvezen podatek')" />
      </div>
    <div class="row">
        <div class="col">
          <label class="form-label">Geslo:</label>
          <input name="geslo" type="password" value="" required
               class="form-control" oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Obvezen podatek')" />
        </div>
        <div class="col">
          <label class="form-label">Ponovi geslo:</label>
          <input name="geslo2" type="password" value="" required
               class="form-control" oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Obvezen podatek')" />
        </div>
    </div>
    <div class="row">
      <div class="cold-flex">
        <button class="btn btn-primary" type="submit">Registracija</button>
      </div>
    </div>
  </form>